// For new names use this generator:
// http://chir.ag/projects/name-that-color
// Reason: https://davidwalsh.name/sass-color-variables-dont-suck

$color-athens-gray: #EEEFF3;
$color-iron: #DBDEE0;
$color-pickled-bluewood: #2C3E50;
$color-azure-radiance: #0077FF;

$color-cerise-red: #DC3A4E;
$color-mountain-meadow: #23CF5F;
$color-cream-can: #F4BC5F;

$color-white: #ffffff;
$color-black: #000000;
