// For new names use this generator:
// http://chir.ag/projects/name-that-color
// Reason: https://davidwalsh.name/sass-color-variables-dont-suck

// $color-athens-gray: #e8eaef;
$color-athens-gray: #e6e8ef;
$color-loblolly: #C6CCD0;
$color-gray-chateau: #A0A4A7;
$color-pickled-bluewood: #2C3E50;
$color-azure-radiance: #0077FF;

$color-alizarin-crimson: #DB273D;
$color-chateau-green: #3AB54A;
$color-cream-can: #EEAD41;

$color-white: #ffffff;
$color-black: #000000;

$max-page-width: 768px;
