// For new names use this generator:
// http://chir.ag/projects/name-that-color
// Reason: https://davidwalsh.name/sass-color-variables-dont-suck

$color-athens-gray: #EEEFF3;
$color-iron: #DBDEE0;
$color-pickled-bluewood: #2C3E50;
$color-azure-radiance: #0077FF;

$color-alizarin-crimson: #DB273D;
$color-chateau-green: #3AB54A;
$color-cream-can: #F4BC5F;

$color-white: #ffffff;
$color-black: #000000;

$max-page-width: 768px;
